body{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4dNBFwsADjVnxf__g8UEuMWv7uCtHra9MXA&usqp=CAU');
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  
}
